/* ---GENERAL CSS--- */
*{
    margin: 0;
    padding: 0;
}
*, ::after, ::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
.both{
    clear: both;
}
.bg-blue{
    background-color: rgb(62, 113, 255);
}
.grey{
    background-color: rgb(241, 247, 253);
}
.pt-200{
    padding-top: 200px;
}
.pb-80{
    padding-bottom: 80px;
}
.c-white{
    color: white;
}
.heading-1{
    font-size: 45px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.heading-4{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 35px;
    
}


/* --- Site-Header starts--- */
#site-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: black;
    padding: 20px 0;
    background-color: white;
    border-top: 4px solid darkgray;
    border-bottom: 1px solid grey;
    z-index: 999;
}
#logo img{
    animation: rotate 15s infinite;
}
@keyframes rotate{
    50%{transform: rotateY(360deg);}
}
#call{
    animation: uyna linear 2s infinite;
}
.nav-link{
    margin-left: 10px;
    padding: 8px 35px;
}
nav, #navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#login{
    border: 1px solid;
}
#apply{
    color: white;
}
/* --- HOME CSS --- */
#home{
    overflow: auto;
    color: rgb(5, 16, 51);
}
#home-left{
    width: 50%;
    float: left;
}
#home-left h1{
    animation: gel 3s;
}
@keyframes gel{
    0%{transform: translate(-300px)}
    100%{transform: translate(0px)}
}
#home-left p{
    line-height: 1.6;
    margin: 30px 0;
    font-size: 20px;
}
#home-left button{
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    animation: uyna linear .5s infinite;
    border: none;
}
@keyframes uyna{
    0%{transform: scale(1)}
    50%{transform: scale(1.1)}
    100%{transform: scale(1)}
}
#home-right>img{
    width: 50%;
    float: left;
}
/* --- WORK SECTION CSS --- */
#work{
    color: rgb(5, 16, 51);
    overflow: auto;
}
#columns-3{
    display: flex;
    justify-content: space-between;
}
.col-item{
    padding: 0 20px;
    margin-bottom: 50px; 
}
.col-item p{
    line-height: 1.6;
    font-weight: 300;
}
.ramka{
    background-color: darkmagenta;
    width: 100%;
    height: 180px;
}
/* trans css */
#trans{
    overflow: auto;
    color: rgb(5, 16, 51);
}
#trans>.container{
    border-top: 1px solid lightgrey;
}
#trans-left{
    float: left;
    background-color: rgb(62, 113, 255);
    width: 50%;
    color: white;
    line-height: 1.6;
}
#trans-left h2{
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey; 
}
#trans-left label{
    padding-top: 25px;
    padding-bottom: 10px;
    display: block;
}
#trans-left input{
    width: 100%;
    text-indent: 15px;
    padding: 15px 0;
    color: white;
    background-color: rgb(81, 127, 255);
    border: none;
}
#trans-left input::placeholder{
    color: white;
}
#trans-left button{
    padding: 15px 0;
    font-size: 16px;
    border: none;
    margin: 50px 0;
    width: 49%;
    font-weight: 600;
}
#calc{
    color: rgb(62, 113, 255);
    background-color: white;
}
#get{
    background-color: rgb(139, 169, 255);
    color: white;
}
#trans-right{
    float: left;
}

/* FOUNDER CSS */
#founder{
    color: rgb(5, 16, 51);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 25px;
    line-height: 1.6;
}
#founder img{
    padding-top: 50px;
}

/* some-header */
#some-header{
    color: rgb(5, 16, 51);
    overflow: auto;
    padding-top: 80px;
    padding-bottom: 80px; 
}
#some-left{
    width: 35%;
    float: left;
}
#some-right{
    width: 64%;
    float: left;
    line-height: 1.9;
}
#some-right h6{
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;

}

/* reviews css */
#reviews{
    color: rgb(5, 16, 51);
    overflow: hidden;
}
#reviews>.container{
    border-top: 1px solid lightgrey;
}
#reviews-3{
    display: flex;
    justify-content: space-between;
}
.reviews-item{
    padding: 0 40px;
    margin-bottom: 50px; 
}
.reviews-item i{
    font-size: 30px;
}
.reviews-item p{
    line-height: 1.6;
    font-weight: 300;
    margin: 10px 0;
    font-style: italic;
}
#author{
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
}
#reviews>.comtainer>img{
    max-width: 100%;
    height: auto;
}

/* ready section css */
#ready{
    text-align: center;
    background-color: rgb(62, 113, 255);
    color: white;
    padding-top: 70px;
    line-height: 1.9;
}
#ready button{
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    margin: 50px 0 80px 0;
    font-weight: 600;
}

/* site-footer */
#site-footer{
    color: rgb(5, 16, 51);
    padding: 60px 0;
    font-size: 18px;
    background-color: rgb(248, 248, 248);

}
#site-footer>.container, #f-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}